.container-event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 20px;
}

.box {
  width: 300px; 
  height: 520px; 
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin: 0 5px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front {
  z-index: 2;
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
  background-color: #f8f8f8;
  padding: 20px; /* Increase padding for the flipped part */
  text-align: justify; /* Justify the text */
}

.box:hover .card {
  transform: rotateY(180deg);
}

.top-box {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-box {
  width: 100%;
  height: 40%;
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.image3 img {
  max-width: 100%;
  height: 300px;
  object-fit: fill;
}

.bottom-box h3 {
  font-family: 'Dosis';
  font-size: 28px;
  margin: 0;
}

.bottom-box p {
  font-family: 'Nunito';
  font-size: 18px;
  margin: 0;
}

.events-title {
  font-size: 50px;
  color: #9C67AB;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #1a091d;
}

.about-button {
  --color: #560bad;
  display: inline-block;
  width: 12em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.about-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 200px;
  width: 280px;
  border-radius: 50%;
}

.about-button:hover {
  color: #fff;
}

.about-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.about-button:hover:before {
  top: -60px;
  left: -10px;
}

.about-button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

@media (max-width: 1000px) {
  .container-event {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .box {
    width: 280px;
    height: 500px;
    margin: 5px 0; 
  }
}

@media (max-width: 650px) {
  .container-event {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .box {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .image3 img {
    height: auto;
  }

  .bottom-box h3 {
    font-size: 25px;
  }

  .bottom-box p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .box {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .image3 img {
    height: auto;
  }

  .bottom-box h3 {
    font-size: 25px;
  }

  .bottom-box p {
    font-size: 15px;
  }
}
